<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFh4iqClBGnYBZpM05M_hT3k1jcQ58zZE</string>
	<key>GCM_SENDER_ID</key>
	<string>322229939746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-c510c</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-c510c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322229939746:ios:7a6e4b62bf6366b847e47b</string>
</dict>
</plist>